# Secrets (CRITICAL)
.env
.env.*

# Python Virtual Environments
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Build artifacts
*.zip
tmp/

# Mac OS junk files
.DS_Store
.vercel
